body{
    padding: 0; margin: 0;
}
canvas{
    vertical-align: top;
}

div.points{
    background-color: beige;
    padding:5px;
    position:absolute;
    top: 20;
    left:20;
}

div.score{
    background-color: orange;
    padding:5px;
    position:absolute;
    top: 20;
    left: 360;
}

button.skydeknap {
    background-color: green;
    color: floralwhite;
    font-size: 20;
    font-weight: 300;
    width: 140px;
    padding:5px;
    position:absolute;
    top: 360;
    right: 60;
}
